.git
.github
.idea
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.env_example
docker-compose.yaml
Makefile
README.md
task.md
implementation_plan.md
walkthrough.md
frontend/
old/
doc/
