services:
  slack_survey_bot:
    build:
      dockerfile: Dockerfile
      context: .
    restart: on-failure:3
    env_file:
      - .env
    volumes:
      - ./bot:/app/bot
      - ./shared:/app/shared
    command: |
      sh -c "
      cd bot && \
      alembic upgrade head && \
      cd .. && \
      python3 bot/main.py
      "
    networks:
      - main_network
    environment:
      - PYTHONUNBUFFERED=1

networks:
  main_network:
    driver: bridge
